<a href="https://colab.research.google.com/github/mhein-collab/MMDT_T-PY101_Batch03/blob/main/mohein/MoHein_Ex_2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [1]:
my_str="My name is python"
len(my_str)

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [4]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s.lower().count("python")

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [5]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
new_list= ls1+ls2
print(new_list)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [33]:
my_dict={"Name":["Myo","Thida"],"Age":[32,64]}
print(my_dict)

{'Name': ['Myo', 'Thida'], 'Age': [32, 64]}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [34]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
combined_set= set1.union(set2)
print("Combined set: ", combined_set)
print("Length of combined set:",len(combined_set))

Combined set:  {'status', 'age', 'Education', 'Name', 'Height'}
Length of combined set: 5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [14]:
user_str=input("Type a word, phrase or sentence: ")
new_str=user_str[0]+"*"+user_str[2:]+"!!!"
print(new_str)

Type a word, phrase or sentence: Keep Going
K*ep Going!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [20]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s=s.lower()
s=s.replace("-"," ")
s=s.replace(";"," ")
s=s.replace(","," ")
s=s.replace('.'," ")
print(s)

floating point values in python are always done in double precision  hence  python float types correspond to doubles in a c like language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [35]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
missing_numbers=[]
for num in L1:
  if num not in L2:
    missing_numbers.append(num)

print("List 1: ",L1)
print("List 2: ",L2)
print("Missing number list in L2: ",missing_numbers)

List 1:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
List 2:  [1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
Missing number list in L2:  [8]

In [38]:
# Test with another way
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))

# Since only one integer is remove from list 2, we can using addition to find the only one missing number.
missing_numbers=sum(L1)-sum(L2)

print("List 1: ",L1)
print("List 2: ",L2)
print("Missing number is: ",missing_numbers)

List 1:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
List 2:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
Missing number is:  72

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [31]:
ls1 = ["apple", "banana", "cherry"]
print("Old list is: ", ls1)
new_lst=ls1.copy()
print("After copied ls1, New list is: ", new_lst)
new_lst=new_lst+["blueberry"]
print("After added a new element to new list: ",new_lst)
print("Old list remain as original: ",ls1)

Old list is:  ['apple', 'banana', 'cherry']
After copied ls1, New list is:  ['apple', 'banana', 'cherry']
After added a new element to new list:  ['apple', 'banana', 'cherry', 'blueberry']
Old list remain as original:  ['apple', 'banana', 'cherry']